body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

button {
  position: absolute;
  top: 2em;
  right: 2em;
  padding: .6em 1em;
  cursor: pointer;
}

.grid {
  min-width: 1200px;
  height: 900px;
  background: lightblue;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-template-rows: repeat(auto-fill, 30px);
}

.grid > div {
  cursor: pointer;
  border: .5px solid #000;
}

.source {
  background: green;
}

.target {
  background: yellow;
}

.node.currentNode {
  background: #008000;
  cursor: default;
}

.node.targetNode {
  background: #000;
  cursor: default;
}

.node.wall {
  position: relative;
  background: red;
  transition: background-color .2s ease;
}

.node.found {
  background: yellow;
}

.node[distance="checked"] {
  background: green;
}




